<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Frendy | home</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<bo
  <main>
    <header class="main-heading"><h1>Welcome to Frendy</h1></header>
    <section class="center">
      <header class="form-heading">
        <h2>Login to continue</h2>
      </header>
      <form action="/login" method="post">
        <input type="text" placeholder="username" name="username" id="">
        <input type="password" placeholder="password" name="password" id="">
        <input type="submit" value="login">
        <a href="/register">Haven't registered yet!</a>
      </form>
    </section>
  </main>
</body>
</html>