<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Frendy | home</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <main>
    <header class="main-heading"><h1>Welcome to Frendy</h1></header>
    <section class="center">
      <header class="form-heading">
        <h2>Register to continue</h2>
      </header>
      <form action="/register" method="post">
        <input type="text" placeholder="name" name="name" id="" required>
        <input type="text" placeholder="email" name="username" id="" required>
        <input type="password" placeholder="password" name="password" id="" required>
        <input type="submit" value="register">
        <a href="/">Already have an account!</a>
      </form>
    </section>
  </main>
</body>
</html>